.sidebar-nav {
  display: flex; 
  gap: 120px; 
  padding-left: 220px; 
  padding-top: 53px;
}

.sidebar-nav a {
  text-decoration: none;
  color: #000000; /* Solid black base color */
  font-weight: bold;
  font-size: 0.85rem;
  letter-spacing: 1.5px;
  text-transform: uppercase; 
  transition: all 0.3s ease;
  border-bottom: none;
}

/* Updated Active State: No border-bottom */
.sidebar-nav a.active {
  color: #92969c; /* A distinct blue color to show it is selected */
  /* border-bottom removed from here */
}

.sidebar-nav a:hover {
  color: #92969c;
}