.sidebar-nav {
  display: flex; 
  width: 100%; 
  justify-content: center; /* Centers the links in the main-content column */
  align-items: center;
  padding-bottom: 60px;
  margin-top: auto; 
  gap: 90px; 
  height: 24px; /* Matches the social-icons height for alignment */
}

.sidebar-nav {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 0.85rem;
  letter-spacing: 1.5px;
  text-transform: uppercase; 
  transition: all 0.3s ease-in-out;
  white-space: nowrap; 
  
}

.sidebar-nav a {
  line-height: 1; 
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: bold;
}

.sidebar-nav a.active {
  color: #92969c;
  transform: scale(1.05); 
}

.sidebar-nav a:hover {
  color: #92969c;
  cursor: pointer;
}

/* Ensure the nav adjusts for smaller screens */
@media (max-width: 1024px) {
  .sidebar-nav {
    gap: 40px; 
    padding-top: 20px;
  }
}