.projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;       
}

.Project-title {
  margin-top: 0;
  margin-bottom: 0;
}

.project-grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  max-width: 800px;
}

.project-card {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  width: 100%;
  max-width: 1000px
}

.project-card:hover {
  background-color: #f9f9f9;
  border-color: #bbb;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 10px 0;
}

.tech-tag {
  background: #eee;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 500;
}
